<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Gráficos de Actividades</title>
    <style>
        img {
            max-width: 100%;   
            height: auto;     
            display: block;    
            margin: 0 auto;}
            
    </style>
</head>

<body>
    <h1>Gráficos de Actividades</h1>


    <h2>Actividades por día</h2>
    <div id="graficoLineas" style="width: 600px; height: 400px;"></div>    


    <h2>Actividades por tipo</h2>
    <div id="graficoTorta" style="width: 600px; height: 400px;"></div>


    <h2>Actividades por mes y hora</h2>
    <div id="graficoBarras" style="width: 600px; height: 400px;"></div>


    <br><br>

    <a href="{{ url_for('portada') }}">Volver a la portada</a>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="{{ url_for('static', filename='js/graficos.js') }}"></script>


</body>
</html>
